* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#cef3e2,#a7ff04);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.store-container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    
}

h1 {
    margin-bottom: 20px;
}

.product-category {
    margin-bottom: 40px;
}

.product-category h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
    font-size: 20px;
}

.price {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.buy-now {
    background-color: #1629cf;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.buy-now:hover {
    color:rgb(16, 139, 71);
        box-shadow: 0 0 1.9rem ;   
}

